 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 283px;
  background-image: url("images/pexels-photo-10003543.jpeg");
  background-position: 50% 50%;
  margin: 57px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  margin: 12px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 57px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 704px;
}

.u-section-2 .u-list-1 {
  margin-top: -80px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 511px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 250px;
  object-position: 50% 26.1%;
  width: 250px;
  background-image: url("images/pexels-photo-6988826.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  width: 332px;
  font-size: 1.25rem;
  letter-spacing: 8px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 250px;
  object-position: 50% 15.64%;
  width: 250px;
  background-image: url("images/pexels-photo-5233311.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  width: 332px;
  font-size: 1.25rem;
  letter-spacing: 8px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 632px;
  margin: 38px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  width: 663px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 421px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    width: 320px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-3 .u-image-1 {
  width: 334px;
  height: 334px;
  background-image: url("images/pexels-photo-9410735.jpeg");
  background-position: 50% 50%;
  margin: 32px 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 100px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 12px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 810px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 33.3333px));
  min-height: 624px;
  grid-gap: 50px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-icon-2 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-icon-3 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-icon-4 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-icon-5 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-icon-6 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 33.3333px));
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 24.999975px));
    min-height: 888px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 570px;
}

.u-section-5 .u-text-1 {
  line-height: 1.6;
  font-size: 3rem;
  font-weight: 700;
  margin: 45px 43px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 45px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 310px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/pexels-photo-9781548.jpeg");
  background-position: 50% 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 305px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/pexels-photo-9781543.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 305px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 305px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/pexels-photo-9392381.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-5 .u-image-1 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-5 .u-image-2 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-5 .u-image-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 192px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2207px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 576px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1693px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 363px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 874px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 290px;
  order: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 563px;
}

.u-section-6 .u-container-layout-2 {
  padding: 50px 0 60px;
}

.u-section-6 .u-image-1 {
  width: 386px;
  height: 386px;
  background-image: url("images/pexels-photo-9661740.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 874px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 59px 60px;
}

.u-section-6 .u-image-2 {
  width: 294px;
  height: 294px;
  background-image: url("images/ffff-min.jpg");
  background-position: 50% 50%;
  margin: 41px 0 0 auto;
}

.u-section-6 .u-image-3 {
  width: 284px;
  height: 284px;
  background-image: url("images/pexels-photo-7241791.jpeg");
  background-position: 50% 50%;
  margin: -13px auto 0 1px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  margin: 35px 1px 0 88px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  letter-spacing: 2px;
  margin: 27px auto 0 88px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-6 .u-image-1 {
    width: 376px;
    height: 376px;
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 826px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 246px;
    height: 246px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 35px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 1px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-6 .u-image-1 {
    width: 288px;
    height: 288px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 208px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 720px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: -33px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 690px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-group-1 {
  min-height: 269px;
  width: 404px;
  margin: 40px -102px 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 690px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 0 24px;
}

.u-section-7 .u-image-1 {
  width: 299px;
  height: 299px;
  background-image: url("images/pexels-photo-10210260.jpeg");
  background-position: 50% 50%;
  margin: 0 1px 0 120px;
}

.u-section-7 .u-text-3 {
  font-style: normal;
  margin: 40px 1px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 691px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  height: 300px;
  width: 300px;
  background-image: url("images/pexels-photo-7242297.jpeg");
  background-position: 50% 50%;
  margin: 308px auto 0 1px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-7 .u-group-1 {
    width: 245px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 0;
    margin-left: 43px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 570px;
  }

  .u-section-7 .u-image-2 {
    height: 293px;
    width: 293px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -833px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-7 .u-group-1 {
    min-height: 390px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 54px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    margin-left: 41px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 153px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 799px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 2px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  margin: 20px 188px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 594px 0 0;
}

.u-section-8 .u-image-1 {
  width: 326px;
  height: 326px;
  background-image: url("images/pexels-photo-8843111.jpeg");
  background-position: 50% 50%;
  margin: 19px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-right: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 23px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-8 .u-image-1 {
    margin-bottom: 50px;
  }
} .u-section-9 {
  background-image: url("images/pexels-photo-3204506.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 448px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 931px;
  margin: 100px auto -14px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 298px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  width: 211px;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 298px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  width: 193px;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 298px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 0.8rem;
  width: 164px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 85px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    width: 187px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-4 {
    width: 187px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 294px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}